<div class="container">

  <div class="mt-5">
    <h2 class="mb-4 cart-color col-3 text-center text-color rounded-pill pb-2 pt-2">マイページ</h2>
  </div>

  <div class="row mt-4">
    <span class="fst-italic fs-5 col-2">登録情報</span>
    <%= link_to "編集する", edit_customers_path, class: "btn btn-sm btn-success col-2 mb-5" %>
  </div>

  <table class="table table-bordered", style="width: 70%">
    <tbody>
      <tr>
        <td class="col-2 bg-light">ニックネーム</td>
        <td><%= @customer.name %></td>
      </tr>
      
      <tr>
        <td class="bg-light">メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab">お気に入りレシピ</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">投稿したアレンジレシピ</a>
    </li>
    <li class="nav-item">
      <a href="#tab3" class="nav-link" data-toggle="tab">下書き中のアレンジレシピ</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      タブ1のコンテンツが入ります
    </div>
    <div id="tab2" class="tab-pane">
      タブ2のコンテンツが入ります
    </div>
    <div id="tab3" class="tab-pane">
      タブ3のコンテンツが入ります
    </div>
  </div>
</div>