<% if current_customer.own?(recipe) %>
   <div class='mr10 float-right'>
      <%= render 'crud_menus', recipe: recipe %>
<% else %>
     <%= render 'bookmarks/bookmark_area', recipe: re %>
   </div>
<% end %>