<div class = "container">
  <div class = "row">
    <div class="px-sm-0 mx-auto">
       <h1 style="text-align:center"><strong>About</strong></h1>
        <p style="text-align:center">
          ようこそ！おうちdeお店ごはんへ</br>
          このサイトでは、様々なお店のレシピを</br>
          皆さんに作っていただきコロナ禍での</br>
          おうち時間を楽しんでいただけることを願っています！
          </br>
          気になるお店の味をぜひ作って</br>
          レビューやアレンジレシピを投稿しましょう♪</br>
          </br>
          気に入ったお店があれば</br>
          足を運んでいただけるとお店のスタッフも嬉しいです！
        </p>
     </div>
  </div>

  <div class = "row">
      <div class="col-xs-6 mx-auto">
        <%= image_tag "about.jpeg", alt: "farmer", :size =>'500x400' %>
      </div>
  </div>
</div>