<div class="nested-fields row">
  <%= f.hidden_field :id %>
    <div class="col-7"><%= f.text_field :body, class: "form-control", placeholder: "作り方を記入" %></div>
    <div class="offset-1 col-1 px-0 w-auto">
      <%= link_to_remove_association "削除", f, class: "btn btn-danger btn-block" %>
    </div>
<div class"col-4"></div>
</div>