<tr class="nested-fields">
<td>
<div>
  <div class="row mx-auto">
    <div class="col-5"><%= f.text_field :name, class: "form-control", placeholder: "材料" %></div>
    <div class="col-2"><%= f.text_field :amount, class: "form-control", placeholder: "分量" %></div>
    <div class="offset-1 col-1 px-0 w-auto">
      <%= link_to_remove_association "削除", f, class: "btn btn-danger btn-block" %>
    </div>
  </div>
</div>
</td>
</tr>