<footer class="bg-secondary text-white pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <p id="copyright">© 2022 Rumi Hirose All Rights Reserved</p>
      </div>
    </div>

</footer>